.nav {
    display: flex;
    color: white;
    overflow-x: scroll;
    gap: 10px
}

.nav {
    -ms-overflow-style: none; /* for Edge and IE */
    scrollbar-width: none; /* for Firefox */
}

.nav::-webkit-scrollbar {
    display: none; /* for All Others */
}

.nav > h2 {
    cursor: pointer;
    font-weight: 500;
    background: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
    transition: transform 50ms ease-out;
}

.nav > h2:hover {
    opacity: 1;
    transform: scale(1.2)
}