.results > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px;
}

.results > div > p {
    font-size: x-large;
    color: white;
}

.btn-group {
    background-color: white;
}
.text-sorting {
    color: white;
}